.lower {
    font-size: small;
}

.invertido {
    filter: invert(1);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5rem;
    padding-bottom: 4.3rem!important;
}

#main {
    position: relative;
    min-height: 100vh;
}

.container {
    padding-bottom: 4.5rem;
}

#contacto {
    color: rgb(0, 161, 224);
}

#contacto a:hover {
    color: rgb(0, 161, 224) !important;
}

#contacto a:visited {
    color: rgb(0, 161, 224) !important;
}

.op-05 {
    opacity: 0.5;
}

.sombra {
    text-shadow: 2px 2px rgb(90, 90, 90);
}

.altura {
    height: 100%;
}

@media all and (max-width: 2000px) and (min-width: 1800px) {
    .menos-margen {
        margin-top: -100px;
    }
}

@media all and (max-width: 1800px) and (min-width: 1000px) {
    .menos-margen {
        margin-top: 0px;
    }
}

@media all and (max-width: 1500px) and (min-width: 1000px) {
    .menos-margen {
        margin-top: 10px;
    }
}

#avisoLegal {
    color: rgb(0, 161, 224);
}

a:hover {
    text-decoration: none !important;
}

.myLine {
    width: 100%;
    height: 10px;
    background: linear-gradient(180deg, #154854, rgba(46, 115, 131, 0.651)) !important;
}

footer {
    background: #383838 !important;
}

.breadcrumb {
    background: linear-gradient(180deg, #154854, rgba(46, 115, 131, 0.651));
}

.breadcrumb-item a {
    color: white !important;
}

.breadcrumb li {
    color: white !important;
}

body {
    background-color: rgb(236, 236, 236) !important;
}

.logo {
    filter: invert(75%);
}

.form-inline a {
    display: contents !important;
}